In [83]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd
import lxml

In [84]:
wikiurl = "https://en.wikipedia.org/wiki/Comma-separated_values"

In [85]:
table_class = "wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [95]:
soup = BeautifulSoup(response.text, 'html.parser')
wikitable = soup.find('table',{'class':"wikitable"})

wikitable

<table class="wikitable">
<tbody><tr>
<th>Year</th>
<th>Make</th>
<th>Model</th>
<th>Description</th>
<th>Price
</th></tr>
<tr>
<td>1997</td>
<td>Ford</td>
<td>E350</td>
<td>ac, abs, moon</td>
<td>3000.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition"</td>
<td></td>
<td>4900.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition, Very Large"</td>
<td></td>
<td>5000.00
</td></tr>
<tr>
<td>1996</td>
<td>Jeep</td>
<td>Grand Cherokee</td>
<td>MUST SELL!<br/>air, moon roof, loaded</td>
<td>4799.00
</td></tr></tbody></table>

In [111]:
df = pd.read_html(str(wikitable))
df = pd.DataFrame(df[0])
pd.DataFrame(df)

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.0

In [109]:
df.to_csv(r"Desktop/ST2195_A2/python_csv/pywikitable.csv")